autopep8==2.0.2
certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
fire==0.5.0
idna==3.4
iniconfig==2.0.0
packaging==23.1
pluggy==1.0.0
pycodestyle==2.10.0
Pyro5==5.14
pytest==7.3.1
requests==2.28.2
serpent==1.41
six==1.16.0
termcolor==2.2.0
urllib3==1.26.15
